* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #fcfcfc;
}

.container {
    width: 100%;
    height: 100vh;
}
.dropdown-content {
    width: 400px;
    margin: 0 auto;
}
.dropdownn .dropdownn-btn {
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px gray;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dropdownn .dropdownn-content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px gray;
    font-weight: 500;
    color: #fff;
    width: 95%;
}

.dropdownn .dropdownn-content .dropdownn-item {
    padding: 10px;
    cursor:pointer
}

.dropdownn .dropdownn-content .dropdownn-item:hover {
    background: #f4f4f4;
}